body {
	margin: 0;
}

main {
  /*text-align: center;*/
}

.content {
	margin-top: 30px;
	text-align: center;
}

li {
	list-style: none;
}

.header {
	/*padding-top: 10px;*/
	/*background: grey;*/
	/*margin: 0;*/
	height: 70px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
}

.header>h1{
	margin-bottom: 0px;
}

.login-block>input{
	/*margin-bottom: 10px;*/
}

#user-name {
	margin: 5px;
}

hr {
	margin-top: 10px;
}

.header-title {
}

.login-block {
	display: inline-block;
	/*width: ;
	display: flex;
	flex-direction: row;*/
}

#logout-button {
	display: none;
}